{% extends "skeleton.html" %}
{% block page_name %}Projects{% endblock %}

{% block content %}

        <!-- Content -->
        <section id="page-content">
            <div class="container">
                <!-- Portfolio Filter -->
                <nav class="grid-filter gf-outline" data-layout="#portfolio">
                    <ul>
                        <li class="active"><a href="#" data-category="*">Show All</a></li>
                        {% for tag in tags %}
                            <li><a href="#" data-category=".tag-{{ tag.id }}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="grid-active-title">Show All</div>
                </nav>
                <!-- end: Portfolio Filter -->
                <!-- Portfolio -->
                <div id="portfolio" class="grid-layout portfolio-3-columns" data-margin="20">
                    <!-- portfolio item -->
                    {% for project in projects %}
                    <div class="portfolio-item no-overlay {{ project.tags }}">
                        <div class="card equalize-card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="/projects/{{ project.id }}">{{ project.name }}</a>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <i class="fa fa-briefcase"></i>
                                    {{ project.organization }}
                                </h6>
                                <p class="card-text project-desc">{{ project.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- end: portfolio item -->
                </div>
                <!-- end: Portfolio -->
            </div>
        </section>
        <!-- end: Content -->
{% endblock %}