{% extends "skeleton.html" %}
{% block page_name %}Resume{% endblock %}

{% block content %}

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 white-box pb-2">
                        <img class="img-fluid btn-rounded" src="../images/Jayashankar Image.jpg" alt="Photograph of Jayashankar Jayan">
                        <div class="mt-3">
                            <div class="row">
                                <div class="col-md-1">
                                    <i class="icon-mail"></i>
                                </div>
                                <div class="col-md-10">
                                    <a href="mailto:jayashankar.jayan@gmail.com">jayashankar.jayan@gmail.com</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <i class="icon-linkedin"></i>
                                </div>
                                <div class="col-md-10 external-profiles">
                                    <a href="https://www.linkedin.com/in/jayashankar-jayan/">https://www.linkedin.com/in/jayashankar-jayan/</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <i class="icon-github"></i>
                                </div>
                                <div class="col-md-10 external-profiles">
                                    <a href="https://github.com/jayashankarjayan">https://github.com/jayashankarjayan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md b-l">
                        <div class="row white-box pb-2 pt-2">
                            <h2>Experience</h2>
                            <div class="mb-2">
                                <span class="exp-designation">Senior Software Engineer</span>
                                <span class="exp-org">&nbsp;&#8212;&nbsp;L & T Infotech Limited</span>
                                <br/>
                                <span>Sep 2021 to Present (10 months)</span>
                                <hr class="exp-divider mt-3"/>
                            </div>
                            <div class="mb-2">  
                                <span class="exp-designation">Developer</span>
                                <span class="exp-org">&nbsp;&#8212;&nbsp;LearningMate</span>
                                <br/>
                                <span>June 2018 to Sep 2021 (3 years 3 months)</span>
                            </div>
                        </div>
                        <div class="row white-box mt-2 pb-2 pt-2">
                            <h2>Education</h2>
                            <div class="mb-2">
                                <span class="exp-designation">Master of Science - MS, Computer Science</span>
                                <br/>
                                <span class="exp-org">SIES College of Arts, Science and Commerce, Sion (W) - 2018 to 2020</span>
                                <br />
                                <span>Grade: 8.04/10</span>
                                <hr class="exp-divider mt-3" />
                            </div>
                            <div class="mb-2">
                                <span class="exp-designation">Bachelor of Science, Computer Science</span>
                                <br/>
                                <span class="exp-org">SIES College of Arts, Science and Commerce, Sion (W) - 2015 to 2018</span>
                                <br />
                                <span>Grade: 5.15./7</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md white-box pb-2 pt-2">
                        <h2>Projects</h2>
                        <div class="mb-2">
                            <a class="exp-designation" href="/projects/1">Pencil Sketch</a>
                            <br />
                            <span class="exp-org">May 2021 to June 2021</span>
                            <p>
                                An Android application to make beautiful pencil sketches out of colourful photographs.
                            </p>
                            <button type="button" class="btn btn-primary btn-rounded btn-xs">Skill #1</button>
                            <button type="button" class="btn btn-primary btn-rounded btn-xs">Skill #2</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}