{% extends "skeleton.html" %}
{% block page_name %}{{ project.name }} {% endblock %}

{% block content %}

    <!-- Page Content -->
    <section id="page-content">
        <div class="container">
            <div class="row">
                <!-- content -->
                <div class="content col-lg-9">
                    <!-- Blog -->
                    <div id="blog" class="single-post">
                        <!-- Post single item-->
                        <div class="post-item">
                            <div class="post-item-wrap p-3">
                                <div class="post-item-description">
                                    <h2>{{ project.name }}</h2>
                                    <div class="post-meta">
                                        <span class="post-meta-date">
                                            <i class="fa fa-calendar-o"></i>{{ project.start_date}} to {{ project.end_date }}
                                        </span>
                                        <span class="post-meta-category"><a href=""><i class="fa fa-briefcase"></i>{{ project.organization }}</a></span>
                                    </div>
                                    <p>{{ project.description }}</p>
                                </div>
                                <div class="post-tags">
                                    {% for tag in project.tags %}
                                        <a href="#">{{ tag }}</a>
                                    {% endfor %}
                                </div>
                                <div class="post-navigation">
                                    {% if project.previous_project %}
                                        <a href="{{ project.previous_project }}" class="post-prev">
                                            <div class="post-prev-title"><span>Previous Project</span>Previous Project</div>
                                        </a>
                                    {% endif %}
                                    <a href="{{ project.next_project }}" class="post-next">
                                        <div class="post-next-title"><span>Next Project</span>Next Project</div>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <!-- end: Post single item-->
                    </div>
                </div>
                <!-- end: content -->
                <!-- Sidebar-->
                <div class="sidebar sticky-sidebar col-lg-3">
                    <div class="widget ">
                        <h4 class="widget-title">Recent Posts</h4>
                        <div class="post-thumbnail-list">
                            {% for recent_project in recent_projects %}
                                <div class="post-thumbnail-entry">
                                    <div class="post-thumbnail-content">
                                        <a href="/projects/{{ recent_project.id }}">{{ recent_project.name }}</a>
                                        <span class="post-date" data-bs-toggle="tooltip" data-bs-title="Last updated {{ recent_project.project_age }} ago">
                                            <i class="icon-calendar"></i>&nbsp;
                                            {{ recent_project.project_age }}
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- end: sidebar-->
            </div>
        </div>
    </section>
    <!-- end: Page Content -->
{% endblock %}